template(name="result")
  div.row(class="result {{#if normalPrice}}sale{{/if}}")
    div.row(class="game-link-container")
      a.game-link(href="#" onclick="window.open('#{ linkURL }', '_system')" class="col s4 m2 l2 push-s8 push-m9 offset-l10")
        span Check it out!
        i(class="material-icons") navigation
    div.row
      p.result-title(class="col s8 m3 l3 offset-s2")
        | #{ simplifiedTitle }
      if (normalPrice)
        div.prices(class="col s8 m3 l3 offset-s2")
          p.result-normal-price
            | #{ normalPrice }
          p.result-sale-price
            | #{ price }
      else
        p.result-price(class="col s8 m3 l3 offset-s2")
          | #{ price }
      p.result-store(class="col s8 m3 l3 offset-s2")
        | #{ store }
      img.result-thumbnail(class="col s8 m3 l3 offset-s2" src="#{ imageURL }")
  div.divider
